.GearBagDropArea {
  width: 27%;
  height: 100%;
  background: transparent;
  border-radius: 0 16px 16px 0;
  padding: 20px 0;
  position: relative;
}

.GearBag {
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 0 16px 16px 0;
  overflow-y: scroll;
}

.GearBag-card-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.GearBag-p {
  color: var(--grey-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.GearBag-vertical-bar {
  width: 2px;
  height: 620px;
  background-color: var(--window-accent);
  border-radius: 32px;

  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
